<!DOCTYPE html>
<!--
This is a starter template page. Use this page to start your new project from
scratch. This page gets rid of all links and provides the needed markup only.
-->
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Cravings Satisfied</title>
 <link rel="stylesheet" href="<?php echo base_url();?>assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="<?php echo base_url();?>assets/css/dyosaStyle.css">
</head>

<BODY data-spy="scroll" data-target=".navbar-inverse" data-offset="100">
  <div class="for-header">
    <center>
      <img src="<?php echo base_url(); ?>dist/img/cravingSatisfied.jpg" class="logo-header" id="header-logo">
    </center>
    
    <nav class="navbar navbar-inverse" data-spy="affix" data-offset = "350" role="navigation" id="navs-head">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->

        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand active" href="#header-logo">Dyosas</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#intro">Introduction</a></li>
            <li><a href="#gallery">Gallery</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
          
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
  </div> 

<!--This will change the color regarding the background color-->

<div id="color-three">
  <div class="container" id="intro"><center>
    <div class="col-md-6">
      <h1>Satisfying your cravings in your area. Suggesting food will definitely satisfy your cravings!</h1>
      <h4>Easily locate restaurants with just a single search.</h4><br>
      <font color="#ff9999" face="Tahoma" size="20">CRAVINGS SATISFIED AT YOUR SERVICE!</font>
    </div>

    <div class="col-md-6">
    <center>
      <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-example-generic" data-slide-to="1"></li>
          <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
          <div class="item active">
            <img src="<?php echo base_url(); ?>dist/img/homeForm.jpg" class="sceenshot img-rounded"><br>
            <div class="carousel-caption">
            </div>
          </div>
          <div class="item">
           <img src="<?php echo base_url(); ?>dist/img/MenuBar.jpg" class="sceenshot img-rounded"><br>
          </div>
          <div class="item">
           <img src="<?php echo base_url(); ?>dist/img/1stForm.jpg" class="sceenshot img-rounded"><br>
          </div>
          <div class="item">
           <img src="<?php echo base_url(); ?>dist/img/AccountSetting.jpg" class="sceenshot img-rounded"><br>
          </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </center>
    </div>

  </center></div>
</div>

<div id="color-one">
  <div class="container" id="feedbackInfo">
    <h1>FEEDBACK</h1>
    <center>
    <div class="col-md-4">
      <img src="<?php echo base_url(); ?>dist/img/jadine.jpg" class="dev-pic img-circle"><br>
      <font class="for-feedback">"Cravings Satisfied is just what we really need. We found what food we really want in just one click! When we miss eating Greek food, we simply search for it in the app and it gives us the right information. It really satisfies our cravings!"</font><hr>
      <font class="feeds-name">James Reid and Nadine Lustre</font>
    </div>

    <div class="col-md-4">
    <img src="<?php echo base_url(); ?>dist/img/kathniel.jpg" class="dev-pic img-circle"><br>
    <font class="for-feedback">"We love this app! It gives us food that we can't decide. If one wants Japanese food and the other wants Chinese food, it automatically suggests what type of food to eat! With the power of this app, we can satisfy our cravings with one click!"</font><hr>
    <font class="feeds-name">Daniel Padilla and Kathryn Bernardo</font>
    </div>

    <div class="col-md-4">
      <img src="<?php echo base_url(); ?>dist/img/lizquen.jpg" class="dev-pic img-circle"><br>
      <font class="for-feedback">"This app is incredible! We just search for our cravings and it gives us suggestions. If we have a taping in Baguio, for example, we just type in the location and immediately give us suggestion. Now, we can plan our whole meal for our whole stay in a certain area!"</font><hr>
      <font class="feeds-name">Enrique Gil and Liza Soberano</font>
    </div>
  </div></center>
</div>

<div id="color-three">
  <div class="container" id="gallery">
    <h1>GALLERY</h1>

    <center>
      <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-example-generic" data-slide-to="1"></li>
          <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
          <div class="item active">
            <img src="<?php echo base_url(); ?>dist/img/gallery1.jpg" class="dev-pic img-rounded"><br>
            <div class="carousel-caption">
            </div>
          </div>
          <div class="item">
           <img src="<?php echo base_url(); ?>dist/img/gallery2.jpg" class="dev-pic img-rounded"><br>
          </div>
          <div class="item">
           <img src="<?php echo base_url(); ?>dist/img/gallery3.jpg" class="dev-pic img-rounded"><br>
          </div>
          <div class="item">
           <img src="<?php echo base_url(); ?>dist/img/gallery4.jpg" class="dev-pic img-rounded"><br>
          </div>
          <div class="item">
           <img src="<?php echo base_url(); ?>dist/img/gallery5.jpg" class="dev-pic img-rounded"><br>
          </div>
          <div class="item">
           <img src="<?php echo base_url(); ?>dist/img/gallery6.jpg" class="dev-pic img-rounded"><br>
          </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </center>

  </div>
</div>

<div id="color-two">
  <div class="container" id="about">
    <h1>ABOUT</h1><center>
    <div class="col-sm-8 col-sm-offset-2 col-xs-12"><h1>Developer's Info</h1></div>
    <div class="col-md-4 col-sm-6 col-xs-12 margin-tas">
        <img src="<?php echo base_url(); ?>dist/img/cj.jpg" class="dev-pic img-circle"><br>
        <font class="dev-name">Cirjon P. Dizon</font><br>
        <font class="dev-info">Communications<br>Dyosa ng Diwata</font>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12 margin-tas">
        <img src="<?php echo base_url(); ?>dist/img/apple.jpg" class="dev-pic img-circle"><br>
        <font class="dev-name">Mary Anne Apple I. Espina</font><br>
        <font class="dev-info">Designer<br>Dyosa ng Kagubatan</font>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12 margin-tas">
        <img src="<?php echo base_url(); ?>dist/img/kath.jpg" class="dev-pic img-circle"><br>
        <font class="dev-name">Kathryn F. Fameronag</font><br>
        <font class="dev-info">Secretary<br>Dyosa ng Apoy</font>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-12 margin-tas">
        <img src="<?php echo base_url(); ?>dist/img/cynth.jpg" class="dev-pic img-circle"><br>
        <font class="dev-name">Hyacinth T. Gasmin</font><br>
        <font class="dev-info">Programmer<br>Dyosa ng Ibang Mundo</font>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-12 margin-tas">
        <img src="<?php echo base_url(); ?>dist/img/kim.jpg" class="dev-pic img-circle"><br>
        <font class="dev-name">Kimberly A. Librando</font><br>
        <font class="dev-info">Finance<br>Dyosa ng Kalawakan</font>
    </div>
  </center></div>
</div>

<div id="color-three">
  <div class="container" id="contact">
    <h1>CONTACT US</h1>
    <div class="col-md-1"></div>
    <div class="col-md-10">
      
      <form id="feedback-form" onsubmit="return false;">
    <div id="alertbox" class="alert alert-danger hide" role="alert"></div>

      <div id="name_container" class="form-group">
        <label> Name: </label>
        <div class="input-group">
          <div class="input-group-addon"><span class="glyphicon glyphicon-user"></span></div>
          <input type="text" id="name" class="form-control" autocomplete="off" placeholder="Enter Name"> 
        </div>
        <span id="name_error" class="text-danger"></span>
      </div>
    
      <div id="comment_container" class="form-group">
        <label>Feedback:</label>
          
          <textarea class="form-control" rows="5" placeholder="Feedback" id="comment"></textarea>
      
        <span id="comment_error" class="text-danger"></span>
      </div>
        
      <div class="button-group">
        <button type="submit" id="submit" class="btn btn-success">Submit</button>
        </button>
      </div>
      
      <div>
        <br>
      </div>
    </form>

    </div>
    <div class="col-md-1"></div>
    <center>
    <div class="col-md-12">
        <img src="<?php echo base_url(); ?>dist/img/loc.png" class="contact-pic img-circle"><br>
        <font class="dev-name">Dyosas Inc.</font><br>
        <font class="dev-name">09267201330</font><br>
        <font class="dev-info">Bagong Silang, Caloocan City.</font>
    </div></center>
  </div>
</div>

  <script type="text/javascript" src="<?php echo base_url(); ?>assets/js/jquery.min.js"></script>
  <script type="text/javascript" src="<?php echo base_url(); ?>assets/bootstrap/js/bootstrap.min.js"></script>
  <script>var base_Url = '<?php echo base_url(); ?>';</script>
  <script src="<?php echo base_url(); ?>assets/js/dyosa.js"></script>
</BODY>
</html>