/*
 * Skin: Blue
 * ----------
 */
.skin-techno .content-header.am-header {
  background: url(../../img/bg-001.jpg) no-repeat center center;
  background-size: cover;
  padding-bottom: 20px;
}
.am-header h1 {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 3em;
  font-weight: 300;
  line-height: .5;
  margin-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  color: #fff;
}
.am-header h1 > small {
  text-transform: lowercase;
  color: #fff;
}
.am-order-overview {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 300;
  text-align: center;
  color: #fff;
  font-size: 2.5em;
}
.am-order-overview > small {
  font-size: .3em;
  color: #fff;
  display: block;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.am-order-overview > i {
  display: block;
  font-size: 1.5em;
}
.am-overview-detailed {
  text-align: center;
  margin-top: 0;
}
.am-overview-detailed > small {
  display: block;
  font-size: .5em;
}
.am-more-report > i {
  font-size: 1.5em;
}
.skin-techno .main-header .navbar {
  background-color: #222d32;
}
.skin-techno .main-header .navbar .nav > li > a {
  color: #ffffff;
}
.skin-techno .main-header .navbar .nav > li > a:hover,
.skin-techno .main-header .navbar .nav > li > a:active,
.skin-techno .main-header .navbar .nav > li > a:focus,
.skin-techno .main-header .navbar .nav .open > a,
.skin-techno .main-header .navbar .nav .open > a:hover,
.skin-techno .main-header .navbar .nav .open > a:focus,
.skin-techno .main-header .navbar .nav > .active > a {
  background: rgba(0, 0, 0, 0.1);
  color: #f6f6f6;
}
.skin-techno .main-header .navbar .sidebar-toggle {
  color: #ffffff;
}
.skin-techno .main-header .navbar .sidebar-toggle:hover {
  color: #f6f6f6;
  background: rgba(0, 0, 0, 0.1);
}
.skin-techno .main-header .navbar .sidebar-toggle {
  color: #fff;
}
.skin-techno .main-header .navbar .sidebar-toggle:hover {
  background-color: #367fa9;
}
@media (max-width: 767px) {
  .skin-techno .main-header .navbar .dropdown-menu li.divider {
    background-color: rgba(255, 255, 255, 0.1);
  }
  .skin-techno .main-header .navbar .dropdown-menu li a {
    color: #fff;
  }
  .skin-techno .main-header .navbar .dropdown-menu li a:hover {
    background: #367fa9;
  }
}
.skin-techno .main-header .logo {
  background-color: #181f23;
  color: #ffffff;
  border-bottom: 0 solid transparent;
}
.skin-techno .main-header .logo:hover {
  background-color: #161d20;
}
.skin-techno .main-header li.user-header {
  background-color: #3c8dbc;
}
.skin-techno .content-header {
  background: transparent;
}
.skin-techno .wrapper,
.skin-techno .main-sidebar,
.skin-techno .left-side {
  background-color: #222d32;
}
.skin-techno .user-panel > .info,
.skin-techno .user-panel > .info > a {
  color: #fff;
}
.skin-techno .sidebar-menu > li.header {
  color: #4b646f;
  background: #1a2226;
}
.skin-techno .sidebar-menu > li > a {
  border-left: 3px solid transparent;
}
.skin-techno .sidebar-menu > li:hover > a,
.skin-techno .sidebar-menu > li.active > a {
  color: #ffffff;
  background: #000000;
  border-left-color: #3c8dbc;
}
.skin-techno .sidebar-menu > li > .treeview-menu {
  margin: 0 1px;
  background: #2c3b41;
}
.skin-techno .sidebar a {
  color: #b8c7ce;
}
.skin-techno .sidebar a:hover {
  text-decoration: none;
}
.skin-techno .treeview-menu > li > a {
  color: #8aa4af;
}
.skin-techno .treeview-menu > li.active > a,
.skin-techno .treeview-menu > li > a:hover {
  color: #ffffff;
  background-color: #99b0ba;
}
.skin-techno .sidebar-form {
  border-radius: 3px;
  border: 1px solid #374850;
  margin: 10px 10px;
}
.skin-techno .sidebar-form input[type="text"],
.skin-techno .sidebar-form .btn {
  box-shadow: none;
  background-color: #374850;
  border: 1px solid transparent;
  height: 35px;
}
.skin-techno .sidebar-form input[type="text"] {
  color: #666;
  border-top-left-radius: 2px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 2px;
}
.skin-techno .sidebar-form input[type="text"]:focus,
.skin-techno .sidebar-form input[type="text"]:focus + .input-group-btn .btn {
  background-color: #fff;
  color: #666;
}
.skin-techno .sidebar-form input[type="text"]:focus + .input-group-btn .btn {
  border-left-color: #fff;
}
.skin-techno .sidebar-form .btn {
  color: #999;
  border-top-left-radius: 0;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 0;
}
.skin-techno.layout-top-nav .main-header > .logo {
  background-color: #222d32;
  color: #ffffff;
  border-bottom: 0 solid transparent;
}
.skin-techno.layout-top-nav .main-header > .logo:hover {
  background-color: #202a2f;
}
